/*--
See here for list of available Sass variables:
https://quarto.org/docs/output-formats/html-themes.html#sass-variables
--*/

/*-- scss:defaults --*/

/*-- scss:rules --*/

h1 {
  text-align: center;
}

.column {
  &.left {
    width: 80%;
    text-align: left;
  }
  &.right {
    width: 20%;
    text-align: right;
  }
}
