/*--
See here for list of available Sass variables:
https://quarto.org/docs/output-formats/html-themes.html#sass-variables
--*/

/*-- scss:defaults --*/

/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6{
  color: #004080;
}

h1 {
  text-align: center;
}
